<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><a th:href="@{/showFormCreate}">Thêm mới sản phẩm</a></h1>
<p th:if="${msg!=null}" th:text="${msg}"></p>
<br>
<form action="/search" method="get">
    <input type="text" name="name" placeholder="nhập tên sản phẩm">
    <button type="submit">Tìm kiếm</button>
</form>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Tên sản phẩm</th>
        <th>Giá sản phẩm</th>
        <th>Mô tả của sản phẩm</th>
        <th>Nhà sản xuất</th>
        <th>Sửa</th>
        <th>Xóa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product, iterStats: ${productList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.producer}"></td>
        <td><a th:href="@{/edit/{id}(id=${product.id})}">Sửa</a></td>
        <td><a th:href="@{/delete/{id}(id=${product.id})}">Xóa</a></td>
        <td><a th:href="@{/detail/{id}(id=${product.id})}">Detail</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>