<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<p>
    <a href="/shopping-cart">Your cart</a>
</p>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr>
        <td th:text="${products.get().name}"></td>
        <td th:text="${products.get().price}"></td>
    </tr>
</table>
</body>
</html>