<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<p>
    <a href="/shopping-cart">Your cart</a>
</p>
<p th:if="${msg!=null}" th:text="${msg}"></p>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Add To Cart</th>
    </tr>
    <th:block th:each="product:${products}">
        <tr>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td><a th:href="@{/add/__${product.id}__(action='list')}">Add To Cart</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>