<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Tiêu đề</th>
        <th>Nội dung</th>
        <th>Ngày đăng</th>
        <th>Tác giả</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.postingDate}"></td>
        <td th:text="${blog.author}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>